body {
    display: flex;
    margin: 0;
    padding: 0;
    height: 100vh;
    width:  100vw;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    font-family: monospace;
}

button {
    font-family: monospace;
    background-color: rgb(134, 134, 134);
}

.scoreboardContainer {
    display: flex;
    justify-content: space-between;
}

.scoreboard {
    display: flex;
}

.scoreLabel {
    writing-mode: vertical-lr;
    text-align: center;
    font-weight: 700;
    color: greenyellow;
}

#playerScoreLabel {
    transform: rotate(180deg);
}

.scoreDisplay {
    display:flex;
    color: greenyellow;
    font-size: 50px;
    justify-content: center;
}

.gameStatusContainer {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}

.winLabel {
    font-weight: 700;
    text-align: center;
    color:black;
}

.litWinLabel {
    color:greenyellow;
}

#resetButton {
    flex: auto;
    align-self: center;
    border-radius: 20px;
    width:65%;
}

.computerPlayerContainer {
    display: flex;
}

.computerPlayerContainer button {
    flex: auto;
    width: 100px;
    color: rgb(134, 134, 134);
}

.inputButtonContainer {
    display: flex;
}

.inputButtonContainer button {
    flex: auto;
    width: 100px;
}

.computerPlayerContainer .litButton {
    color: black;
}